.lista_articuloss{
  position: relative;
  width: 100%;
  justify-content: center;

}
.row_articulos{
  position: relative;
}
.articulo{
  position: relative;
  margin-left: 10px;
}
.agregar_articuloss{
  display: flex;
  width: 100%;
  justify-items: center;
}
// app-agregar-articulo {
//   display: flex;
//   width: 100%;
//   background-color: cornflowerblue;
// }

 