.container_articulos{
  //display: flex !important;
  position: relative;
  width: 100%;
  padding-left: 20px;
}
.row_articulos{
  position: relative;
  
 
}
.articuloo{
  //display: flex !important;
  position: relative;
   // justify-content: center;
    background-color: yellow;    
    //width: 100%;
  }
