<hr>
<div class="row">
 
    <div class="  col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <mat-card class="detalle">
            <mat-card-title>
                <h2 class="title"> Detalle consumos</h2>
            </mat-card-title>
            <mat-card-content class="content">
                <div class="encabezados">
                    <h4>Cantidad</h4><h4>Articulo</h4><h4> Precio unitario</h4><h4>Total</h4>
                </div>
            </mat-card-content>
            <hr>
            <mat-card-actions >
                <h4>Total</h4>
            </mat-card-actions>
            <mat-card-footer class="footer">
                <button mat-raised-button color="primary"> IMPRIMIR MESA</button>
                <button mat-raised-button color="warn"> CANCELAR MESA</button>
            </mat-card-footer>
        </mat-card>
    </div>
    
    <div class="art col-lg-8 col-md-8    col-sm-12 col-xs-12">
        <app-panel-catalogo></app-panel-catalogo>
    </div>
</div>
 
 