<mat-sidenav-container  fullscreen   fxLayout = "column"  >
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button >
        <div  id="title">
          <a href="/"> <span>CompreYa</span></a>
        </div>
      </mat-toolbar>
      <!-- Contenido del html -->
      <router-outlet></router-outlet>
      <!--  -->
    </mat-sidenav-content>
  
  <!-- Las opciones del menu -->
   <mat-sidenav autosize color="primary" #drawer 
              fxLayout="column" mode="over"  opened="false" 
              >
      <mat-nav-list >
        <a mat-list-item href="#">Mis articulos</a>
        <a mat-list-item href="#">Mis ventas</a>
        <a mat-list-item href="#">Resumen</a>
        <a mat-list-item href="#">Cerrar sesión</a>
      </mat-nav-list>
    </mat-sidenav>
    <!--  -->
  </mat-sidenav-container>
