.product img{
   height: 100px;
    width: 100%;
    object-fit: contain;
    
  }

  .product{
    display: flex;
   // flex-direction: row;
   min-width: 240px;
   width: 100%;
    
    text-align: center;
     margin-bottom: 10px; /* same as fxLayoutGap for even distribution */
  }
  .actions{
    display: flex;
   // margin-left: 10%;
    //width: 80%;
    justify-content: space-between;
 
  }