
<mat-card   class="product">
    <mat-card-title>
        <p class="codigo">  {{this.articulo.id}} </p>
        <p class="categoria">{{this.articulo.categoria.categoria}}</p>
    </mat-card-title>
    <mat-card-content>
        <p class="title">{{this.articulo.title}}</p>
        <p> {{this.articulo.description || 'null'}}  </p>
    </mat-card-content>
    <mat-card-actions class="actions" >
        <button mat-raised-button color="primary" (click)="agregar_producto()"> 
             <h3 class="precio"> $ {{this.articulo.price_neto}}</h3>  
        </button>
    </mat-card-actions>
</mat-card>
