
.row_catgorias {
    display: flex !important;
    justify-content: center;
    //padding-top: 20px;
    //background-color: aqua;
    width: 100%;
}

.row_articulos{
    padding-top: 20px;
    display: flex !important;

}