app-categoria {
    width: 100%;
}
.row_catgorias {
    width: 100%;
    display: flex !important;
    justify-content: center;
    padding-top: 20px;
}

.row_articulos{
    width: 100%;
    //min-width: 1200px;
    padding-top: 20px;
    padding-left: 30px;
    display: flex !important;

}