.primario{
padding: 15px;
}
.secundario{
   // background-color: red;
}
app-panel-catalogo{
    position: relative;
    width: 100%;
}
barra-busqueda{
    position: relative;
    
    //left: 15%;
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 320px) { 
    .detalle{
        display: none;
    }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    .detalle{
        display: none;
    }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 

    .general{
        display: flex;
        flex-direction: row;
    }
    .primario{
        width: 33%;
    }
    .secundario{
        width: 67%;
    }
    .detalle{
       display: flex;
       flex-direction: column;
    }
 }


@media (min-width: 1200px) { 
    .general{
        display: flex;
        flex-direction: row;
    }
    .primario{
        width: 28%;
    }
    .detalle{
        display: flex;
        flex-direction: column;
        min-width:23%;
    }
    .secundario{
        width: 72%;
    }
 }


